body {
    font-family: 'Arial', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: "Georgia", "Times New Roman", serif;
}

.hero-section {
    background-size: cover;
    background-position: center;
}

